.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.image {
  height: 35px;
  width: 35px;
  background-color: rosybrown;
  border-radius: 50%;
  display: inline-block;
}

#row {
  font-weight: 300;
  font-size: large;
  transition: background 0.25s,
}

#row:hover {
  background: rgb(235, 231, 231)  ;
}