.navbar {
    padding: .2rem 1rem;
}


.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 95%;
}

.kana-navbar {
    font-size: 0.9em;
}

.eng {
    font-size: 0.7em;
}