@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,700';

.leaderboard {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 80vh;
}

.body {
	height: 250px;
	display: block;
	overflow-y: auto;
	border-radius: 10px;
    border: 4px dashed lightgray;
}